.wrap {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    &:not(:last-of-type) {
        margin: 0 auto 30px;
    }
    .react-reveal {
        width: 100%;
    }
    .job {
        span {
            font-size: 16px;
            color: rgba(114, 114, 114, 0.8);
            @media (max-width: 767px) {
                display: block;
            }
        }
    }
    .loc {
        font-size: 16px;
        color: rgba(114, 114, 114, 0.8);
    }
    @media screen and (min-width: 991px) {
        font-size: 20px;
        padding-bottom: 0;
        div:first-of-type {
            width: 80%;
        }
        div:last-of-type {
            width: 20%;
        }
        .react-reveal {
            .year {
                text-align: right;
                display: block;
                font-size: 0.9rem;
                margin-top: 9px;
                font-weight: 600;
            }
        }
        &:not(:last-of-type) {
            margin: 0 0 55px;
        }
        &:last-of-type {
            margin: 0;
        }
        .job, .loc {
            text-align: left;
            margin-bottom: 10px;
            font-weight: 500;
        }
        .job {
            span {
                font-size: 18px;
                color: rgba(114, 114, 114, 0.8);
            }
        }
        .loc {
            font-size: 18px;
            color: rgba(114, 114, 114, 0.8);
            margin-bottom: 40px;
        }
    }
}